<h1>Students#index</h1>
<div class="student-table">
    <% @students.each do |student| %>
        <div class="student-table--row">
            <span><%= link_to student.name, student %></span>
            <span><%= student.year %></span>
            <span><%= student.major %></span>
        </div>
    <% end %>
</div>